
/* based off of groovy color palette */
:root {
    --dark: #171219;
    --blue: #225560;
    --yellow: #EDF060;
    --orange: #F0803C;
    --maroon: #310D20;
    --border-radius: .3rem;
}

/* body {
    background-color: var(--yellow);
} */

/* .dropdown-content{
    width: max-content !important;
    height:auto !important;
 } */

 .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }

  i {
    color: var(--orange);
    text-shadow: 2px 2px 3px var(--maroon);
  }

  .header-title {
      color: var(--blue);
      text-shadow: 2px 2px 3px var(--orange);
      font-family: Anton;
  }

  .header-p {
    color: var(--maroon);
    text-shadow: 1px 1px 1px var(--orange);
    font-weight: bolder;
    outline: 1px var(--maroon);
  }

  .store-icon {
    color: var(--blue);
    text-shadow: 1px 1px 1px var(--orange);
  }

  .video-icon {
    color: var(--orange);
    text-shadow: 1px 1px 1px var(--blue);
  }

  .section-header {
    color:var(--blue);
    font-family: Anton;
    font-size: 20px;
    /* text-shadow: 1px 1px 1px var(--orange); */
  }

  ::placeholder {
    color: var(--dark);
    /* font-family: Anton; */
    font-weight: light;
    opacity: 0.5;
    text-shadow: 1px 1px 1px var(--orange);
  }

 .food-select {
    width: max-content !important;
    height:auto;
    padding-top: 7px;
 }

 .search-btn, .btn:focus {
     background-color: var(--orange);
     border-radius: var(--border-radius);
     color: var(--maroon);
     font-weight: bolder;
     text-shadow: 1px 1px 1px var(--blue);
 }

 .search-btn:hover{
    background-color: var(--maroon);
    border-radius: var(--border-radius);
    color: var(--orange);
    font-weight: bolder;
    text-shadow: 1px 1px 1px var(--blue);
 }

 .clear-btn, .clear-btn:focus {
    background-color: var(--blue);
    border-radius: var(--border-radius);
    color: var(--yellow);
    font-weight: bolder;
    text-shadow: 1px 1px 1px var(--orange);
}

.clear-btn:hover{
    background-color: var(--yellow);
    border-radius: var(--border-radius);
    color: var(--blue);
    font-weight: bolder;
    text-shadow: 1px 1px 1px var(--orange);
}

.movie-btn, .movie-btn:focus {
    background-color: var(--maroon);
    border-radius: var(--border-radius);
    color: var(--orange);
    font-weight: bolder;
    text-shadow: 1px 1px 1px var(--blue);
}

.movie-btn:hover{
   background-color: var(--orange);
   border-radius: var(--border-radius);
   color: var(--maroon);
   font-weight: bolder;
   text-shadow: 1px 1px 1px var(--yellow);
}

.zip-btn, .zip-btn:focus {
    background-color: var(--dark);
    border-radius: var(--border-radius);
    color: var(--yellow);
    font-weight: bolder;
    text-shadow: 1px 1px 1px var(--blue);
}

.zip-btn:hover {
    background-color: var(--yellow);
    border-radius: var(--border-radius);
    color: var(--dark);
    font-weight: bolder;
    text-shadow: 1px 1px 1px var(--blue);
}

.btn {
    margin: 5px;
}

 .dropdown-content li>a {
     color: black;
     align-items: center;
 }

a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* h3 {
    color: var(--orange);
    text-shadow: 1px 1px 2px var(--blue);
    font-family: Anton;    
} */

/* h4 {
    color: var(--blue);
    text-shadow: 1px 1px 2px var(--orange);
    font-family: Anton;    
} */

p {
    color: var(--maroon);
    font-weight: bold;
    /* text-shadow: 1px 1px 1px var(--orange); */
}

.dropdown-trigger, .food-select{
     width: 100%;
     display: flex;
}
 
  /* Chrome/Opera/Safari */
 ::-webkit-input-placeholder:hover {
    background-color: transparent;
    color: transparent;
    display: none;
    opacity: 0;
  };

 input:focus::-webkit-input-placeholder { 
    background-color: transparent;
    color:transparent;
    opacity: 0;
  };

 input:focus:-moz-placeholder { 
    background-color: transparent;
    color:transparent;
    opacity: 0;
  }; /* FF 4-18 */

 input:focus::-moz-placeholder { 
    background-color: transparent;
    color:transparent;
    opacity: 0;

  }; /* FF 19+ */

 input:focus:-ms-input-placeholder {
    background-color: transparent;
    color:transparent;
    opacity: 0;
  }; /* IE 10+ */
  
  #movie-card-con {
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
      justify-content: space-between;
      align-items: space-around;
  }
 
  .movie-cardy {
      width: 40%;
      padding: 0, 10px;
  }

  .movie-cardy h3 {
      font-size: 1.5vw;
      margin: 0 10px;
  }

  .clear-btn {
      overflow: hidden;
  }

  .movie-poster-img {
      width: 100%;
      height: auto;
  }

 .page-footer {
     background-color: var(--blue);
 }

 /* .search-btn {
     background-color: var(--orange);
 } */



 .restaurant-result {
     margin: 5px;
     border: 1px solid;
 }

 .restaurant-img {
     height: 200vw;
     width: 400vw;
 }

.btn {
    margin: 5px;
}

 .hide {
     display: none;
 }

 .restaurant-btn, .restaurant-btn:focus {
    background-color: var(--yellow);
    border-radius: var(--border-radius);
    color: var(--maroon);
    font-weight: bolder;
    /* text-shadow: 1px 1px 1px var(--orange); */
}

.restaurant-btn:hover {
    background-color: var(--maroon);
    border-radius: var(--border-radius);
    color: var(--yellow);
    font-weight: bolder;
    /* text-shadow: 1px 1px 1px var(--orange); */
}

.modal {
    border-radius: var(--border-radius);
}

.modal-content {
    background-color: var(--yellow);
    color: var(--blue);
    font-weight: light;
}

.modal-content h4 {
    color: var(--maroon);
}

.modal-content p {
    color: var(--blue);
}

 @media screen and (max-width: 575px) {
    .movie-select {
      justify-content: center;
    }

    .header-title {
      font-size: 50px;
    }

    span {
        width: 100%;
        display: inline-block;
    }
  }

  @media screen and (max-width: 360px) {
    .header-title {
      font-size: 45px;
    }
  }
  
